<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxh2FdLI41nJXMnKB9ClXzKsctmM9HgOc</string>
	<key>GCM_SENDER_ID</key>
	<string>423015444653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.PointOfSsales</string>
	<key>PROJECT_ID</key>
	<string>curbside-4a6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>curbside-4a6ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423015444653:ios:3d72dc3904bb3a88511624</string>
</dict>
</plist>