FIREBASE_CLI_TOKEN=
TESTER_GROUPS=

APP_ID_ANDROID_THAILAND=
APP_ID_ANDROID_PHILIPPINES=
APP_ID_ANDROID_MALAYSIA=
APP_ID_ANDROID_HONGKONG=
APP_ID_ANDROID_INDONESIA=
APP_ID_ANDROID_INDIA=
APP_ID_ANDROID_VIETNAM=
APP_ID_ANDROID_SINGAPORE=

APP_ID_IOS_TH=
APP_ID_IOS_PH=
APP_ID_IOS_MY=
APP_ID_IOS_HK=
APP_ID_IOS_ID=
APP_ID_IOS_IN=
APP_ID_IOS_VN=
APP_ID_IOS_SG=

RELEASE_STORE_FILE=
RELEASE_KEY_ALIAS=
RELEASE_STORE_PASSWORD=
RELEASE_KEY_PASSWORD=
